<%-include("./partials/header.ejs")%>
<title>OrderPlaced</title>
<style>
    .orderplacedcontainer{
        height: 49vh;
    width: 50%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-top: 10vh;
    margin-bottom: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
    }
    #checkimg{
        height: 130px;
    margin-top: -136px;
    }
    .buttoncontainer{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-bottom: -134px;  
    margin-top: 30px;
    }
    .btn {
            border-radius: 50px;
            text-align: center;
            padding: 0.45rem 0.8rem;
            outline: 0;
            color: white;
            background-color: #4461F2;
            box-shadow: 0px 0px 5px -1px #4461F2;
            width: 13vw;
            height: 39px;
            margin-top: 1px;
            /* margin-left: 74px; */
            margin-bottom: 16px;
        }

    @media (max-width:1500px){
        .orderplacedcontainer{
              width: 60%;
        }
    }
    @media (max-width:1000px){
        .orderplacedcontainer{
              width: 70%;
        }
    }
    @media (max-width:800px){
        .orderplacedcontainer{
              width: 80%;
        }
    }
</style>

</head>

<body>

    <%-include("./partials/nav-after-login.ejs")%>

    <div class="orderplacedcontainer container-fluid">
           <img id="checkimg" src="/assets/orderplacedimg.png" alt="">
           <h2 style="font-weight: 700">Your Order is Successfully Placed</h2>
           <p style="color: gray; font-size: larger; margin-top: 20px;"> Thank you for choosing us! Your order has been successfully placed, and we appreciate </p><p style="color: gray; font-size: larger; margin-top: -10px;"> your trust in our products and services.</p>
           <div class=" buttoncontainer" >
           <button class="btn" onclick="navigateToshop()">Return to shop</button>
           <button class="btn" onclick="navigateToOrderDetails()">View Orders</button>
        </div>
    </div>

    <script>
       function navigateToshop(){
            window.location.href="/productlistingverified";
        }
       function navigateToOrderDetails(){
            window.location.href="/orders";
        }
    </script>

    <%-include("./partials/footer.ejs")%>
    <%-include("./partials/footerlinks.ejs")%>